<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>

      <!-- navigation buttons -->
      <a href="{{ site.baseurl }}/" class="btn">Home</a>
      <a href="{{ site.baseurl }}/time" class="btn">Shootings by Time</a>
      <a href="{{ site.baseurl }}/where" class="btn">Where It Happens</a>
      <a href="{{ site.baseurl }}/who" class="btn">Who Is Involved</a>
      <a href="{{ site.baseurl }}/trends" class="btn">Trends</a>
    </section>

    <section class="main-content">
      {{ content }}
    </section>
  </body>
</html>
